div.folha {
    max-width: 297mm;
    text-align: justify;
    margin: auto;
    padding: 25px;
    border: 1px solid black;
    font-size: 15px;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}

ementa {
    display: block;
    padding-left: 50%;
    margin:7px;
    text-align: justify;
}
div.legis{
    margin-left: 10mm;
    padding:7px 0px;
    display: block;
}
div.legis:hover{
    background-color: #0f02;
}
div.revogado{
    text-decoration: line-through;
}
p.datacao{
    text-align: right;;
}
p.assinatura{
    font-weight: bold;
    text-align: center;
}
a:link, a:visited {
    color: blue;
    text-decoration: inherit;
}
table{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}
th{
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
td{
    text-align: center;
    border-top: 1px dotted black;
    padding:0px 7px;
}
em.vermelha{
    color: red;
}
span.posicao{
    float: right;
}
ul ul ul ul li{
    list-style-type: none;
}
ul ul ul ul li::before {
    content: "→";  /* Aqui você pode colocar o símbolo ou até um emoji */
    margin-right: 10px;  /* Espaçamento entre o símbolo e o conteúdo */
    color: red;  /* Cor do símbolo */
    font-size: 20px;  /* Tamanho do símbolo */
}